<!-- {%- assign publication = include.publication -%} -->
{% assign publication = site.data.publications | where: 'citekey', include.citekey | first %}

<span class="publication">
<span class="publication-authors">
{% for author in publication.authors %}
    {% if forloop.last %}and{% endif %}
    {% include author_link.html author=author %}
    {%- unless forloop.last -%}
    , 
    {% endunless %}
{% endfor %}
</span>
<span class="publication-year">({{ publication.year }})</span>. 
    {% if publication.link %}
        <a href="{{ pub.link }}">
    {%- endif -%}
    <span class="publication-title">{{ publication.title }}</span>
    {%- if publication.link -%}
        </a>
    {%- endif -%},
    <span class="publication-venue">{{ publication.venue }}</span>
    {%- if publication.extra %}
        <span class="publication-extra">{{ publication.extra }}</span>
    {%- endif -%}
    {%- if publication.note -%}
        <span class="publication-note">{{ publication.note }}</span>
    {%- endif -%}.
</span>
