.person-namecard {
    border-radius: 1em;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    overflow: hidden; 
    margin-bottom:2em;
}

.person-namecard-data {
    flex-grow: 1;
    margin-left: 0.5em;
    padding: 1em;
    order: 1;
    flex-basis: 10em;
}

div.person-namecard-image {
    flex-grow: 1;
    order: 2;
    flex-basis: 10em;
    opacity: 80%;
}

.person-image {
    border-radius: 20px;
}

.site-header {
    border-top: none;
}

.publication-venue {
    font-style: italic;
}

.li-publication {
    margin-bottom: 0.5em;
}



@media (prefers-color-scheme: light) { 
    // body {
    //     // background-color: transparent;
    // }
    :root { 
        filter: none; 
    } 
}
@media (prefers-color-scheme: dark) { 
    body {
        background-color: rgb(255, 246, 230);
    }
    :root { 
        filter: hue-rotate(0deg) invert(100%); 
        // background-color: rgb(0, 9, 20);
    } 
    img {
        // filter: invert(100%); 
        filter: invert(100%);// brightness(70%) invert(100%);
    }
    video {
        filter: invert(100%);
    }
    iframe {
        filter: invert(100%);
    }
    figure {
        filter: invert(100%);
        background: white;
    }
}
